*               text=auto
*           text eol=lf

.gitattributes  text
.gitignore      text
.editorconfig   text

.luacheckrc     text
.pkgmeta        text

*.lua           text
*.xml           text
*.toc           text

*.yml           text
*.md            text
*.py            text

*.blp           binary
*.tga           binary
*.ogg           binary
*.ttf           binary
